display boot.msg
default microcore
label microcore
	kernel /boot/vmlinuz
	initrd /boot/core.gz
	append cde  loglevel=d

label mc
	kernel /boot/vmlinuz
	append cde  initrd=/boot/core.gz loglevel=d
implicit 0	
prompt 0	
timeout 300
F1 boot.msg
F2 f2
F3 f3
F4 f4
